* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container1 {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: white;
    align-items: center;
    background: linear-gradient(to right, skyblue, navy);
    box-shadow: 10px 5px 10px rgb(5, 133, 202);
}

.nav {
    display: flex;
    gap: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    text-decoration: underline;
}

.toggle {
    display: none;
    cursor: pointer;
}

.sidenav {
    width: 50%;
    position: fixed;
    top: 0;
    left: -50%;
    background-color: rgb(158, 201, 241);
    padding-bottom: 20px;
    transition: ease-in-out 0.5s;
}

.closetoggle {
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

.closetoggle i {
    color: white;
    font-size: x-large;
    cursor: pointer;
}

.sidenav-links a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.sidenav-links {
    margin-left: 20px;
    padding: 10px;
}

.sidenav-links a:hover {
    text-decoration: underline;
}

.container2 {
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 30px;
}

.container2 img {
    width: 90%;
    height: 350px;
}

.text {
    position: absolute;
    top: 50%;
    margin-left: 20%;
    text-align: center;
    color: white;
}

.button {
    text-align: center;
}

.button button {
    padding: 20px;
    background: linear-gradient(to right, skyblue, navy);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    box-shadow: 5px 10px 20px skyblue;
    margin-bottom: 40px;
}

.button button:hover {
    transform: scale(1.05);
}

section h2 {
    text-align: center;
    margin-top: 30px;
    color: rgb(77, 30, 164);
}

.search-bar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    gap: 20px;
    padding: 10px;
    border: 3px solid skyblue;
    border-radius: 30px;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    box-shadow: 5px 10px 20px skyblue;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;

}

.search-bar i {
    color: blue;
    font-size: larger;
}

.search-bar input:focus {
    outline: none;
}

.places {
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
}

.place-image img {
    width: 250px;
    height: 300px;
    transition: 1s;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid black;
    box-shadow: 5px 5px 15px lightseagreen;

}

.place-image p {
    color: #2d6a4f;
}

.places a {
    text-decoration: none;
    color: inherit;
}

.place-image a p {
    text-decoration: none;
}

.places a {
    margin-left: 50px;
}

.place-image p {
    font-size: larger;
    font-weight: bolder;
}

.place-image img:hover {
    transform: scale(1.1);
}

.place-image {
    flex-basis: 30%;
    margin-bottom: 30px;
    height: 380px;
}

/* temple style */
.temple h1 {
    color: rgb(220, 134, 4);
    text-align: center;
    margin-top: 50px;
}

.temple-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 60px;
}

.temple-card {
    flex-basis: 21%;
    margin-left: 18%;
    border: 1px solid rgb(220,134,4);
    margin-bottom: 50px;
    box-shadow: 5px 5px 15px rgb(220, 134, 4);
    padding-bottom: 15px;
}

.temple-card img {
    width: 280px;
    height: 240px;
    transition: 1s;
}
.temple-card button{
    padding: 10px;
     background-color:rgb(220, 134, 4); 
     color: white; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
}
.temple-card img:hover {
    transform: scale(1.15);
}

.temple-card p {
    color: red;
    padding-bottom: 5px;
}

.overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* black with 50% opacity */
    z-index: 999;
    display: none;
}

.popup1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: none;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 5px;
    max-height: 90vh;
    overflow-y: auto;
}


.overlay1 button {
    width: 90px;
    height: 40px;
    background-color: darkmagenta;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 40%;
    margin-bottom: 20px;
    cursor: pointer;
}

.popup1 h1 {
    text-align: center;
    margin-top: 40px;
    color: rgb(225, 44, 12);
    margin-bottom: 20px;
}

.popup1 h3 {
    margin-left: 50px;
    color: rgb(13, 131, 194);
    margin-bottom: 10px;
}

.popup1 p {
    margin-left: 50px;
    color: rgb(53, 7, 110);
    margin-bottom: 10px;
}

.popup1 span {
    color: rgb(201, 25, 128);
    font-weight: bold;
}

/* park */

.parks h1 {
    color: rgb(144, 214, 45);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.park-list {
    display: flex;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
    gap: 60px;
}

.park-card {
    flex-basis: 21%;
    margin-left: 18%;
    text-align: center;
    margin-bottom: 40px;
    border: 2px solid rgb(144,214,45);
    padding-bottom: 15px;
    box-shadow: 5px 5px 15px rgb(144, 214, 45);
}

.park-card img {
    width: 280px;
    height: 240px;
    transition: 1s;
}
.park-card button{
    padding: 10px;
     background-color: rgb(144,214,45); 
     color: white; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
}
.park-card img:hover {
    transform: scale(1.15);
}

.park-card p {
    color: red;
    padding-bottom: 5px;
}

/* beach */

.beach h1 {
    color: rgb(4, 162, 186);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.beach-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.beach-card {
    flex-basis: 21%;
    margin-left: 18%;
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 40px;
    border: 2px solid rgb(4,162,186);
    padding-bottom: 20px;
    box-shadow: 5px 5px 20px rgb(4, 162, 186);
}
.beach-card button{
    padding: 10px;
     background-color: skyblue; 
     color: white; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
}

.beach-card img {
    width: 280px;
    height: 240px;
    transition: 1s;
}

.beach-card img:hover {
    transform: scale(1.15);
}

.beach-card p {
    color: red;
    padding-bottom: 5px;
}

/* theater*/

.theater h1 {
    color: navy;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.theater-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.theater-card {
    text-align: center;
    margin-bottom: 40px;
    flex-basis: 21%;
    margin-left: 18%;
    margin-top: 40px;
    border: 1px solid gold;
    box-shadow: 5px 10px 40px gold;
    padding-bottom: 15px;
}

.theater-card img {
    width: 280px;
    height: 240px;
    transition: 1s;
}
.theater-card button{
    padding: 10px;
     background-color: navy; 
     color: white; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
}
.theater-card img:hover {
    transform: scale(1.15);
}

.theater-card p {
    color: red;
    padding-bottom: 5px;
}

/* waterfall*/

.waterfall h1 {
    color: rgb(75, 182, 236);
    text-align: center;
    margin-top: 50px;
}

.waterfall-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.waterfall-card {
    text-align: center;
    margin-bottom: 40px;
    flex-basis: 21%;
    margin-left: 18%;
    margin-top: 80px;
    border: 1px solid rgb(75, 182, 236);
    box-shadow: 5px 10px 40px rgb(75, 182, 236);
    padding-bottom: 15px;
}

.waterfall-card img {
    width: 280px;
    height: 240px;
    transition: 1s;
}

.waterfall-card img:hover {
    transform: scale(1.15);
}
.waterfall-card button{
    padding: 10px;
     background-color: rgb(75, 182, 236); 
     color: white; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
}

.waterfall-card p {
    color: red;
    padding-bottom: 5px;
}

/* mall*/

.mall h1 {
    color: purple;
    text-align: center;
    margin-top: 50px;
}

.mall-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.mall-card {
    text-align: center;
    margin-bottom: 40px;
    flex-basis: 21%;
    margin-left: 18%;
    margin-top: 80px;
    border: 1px solid purple;
    box-shadow: 5px 1px 40px purple;
    padding-bottom: 15px;
}

.mall-card img {
    width: 280px;
    height: 240px;
    transition: 1s;
}

.mall-card img:hover {
    transform: scale(1.15);
}
.mall-card button{
    padding: 10px;
     background-color: purple; 
     color: white; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
}
.mall-card p {
    color: red;
    padding-bottom: 5px;
}

/* Hill station*/

.hill h1 {
    color: rgb(7, 179, 167);
    text-align: center;
    margin-top: 50px;
}

.hill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.hill-card {
    text-align: center;
    margin-bottom: 40px;
    flex-basis: 21%;
    margin-left: 18%;
    margin-top: 80px;
    border: 1px solid rgb(7, 179, 167);
    padding-bottom: 15px;
    box-shadow: 0px 0px 30px rgb(7, 179, 167);
}

.hill-card img {
    width: 280px;
    height: 240px;
    transition: 1s;
}

.hill-card img:hover {
    transform: scale(1.15);
}
.hill-card button{
    padding: 10px;
     background-color: rgb(7, 179, 167); 
     color: white; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
}

.hill-card p {
    color: red;
    padding-bottom: 5px;
}

/* Garden*/

.garden h1 {
    color: plum;
    text-align: center;
    margin-top: 50px;
}

.garden-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.garden-card {
    text-align: center;
    margin-bottom: 40px;
    flex-basis: 21%;
    margin-left: 18%;
    margin-top: 80px;
    border: 1px solid plum;
    box-shadow: 10px 10px 60px plum;
    padding-bottom: 15px;
}

.garden-card img {
    width: 280px;
    height: 240px;
    transition: 1s;
}

.garden-card img:hover {
    transform: scale(1.15);
}
.garden-card button{
    padding: 10px;
     background-color: plum; 
     color: white; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
}

.garden-card p {
    color: red;
    padding-bottom: 5px;
}

/* zoo*/

.zoo h1 {
    color: red;
    text-align: center;
    margin-top: 50px;
}

.zoo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.zoo-card {
    text-align: center;
    margin-bottom: 40px;
    flex-basis: 21%;
    margin-left: 18%;
    margin-top: 80px;
    border: 1px solid pink;
    box-shadow: 10px 10px 40px pink;
    padding-bottom: 15px;
}
.zoo-card button{
    padding: 10px;
     background-color:rgb(130,9,29); 
     color: white; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
}
.zoo-card img {
    width: 280px;
    height: 240px;
    transition: 1s;
}

.zoo-card img:hover {
    transform: scale(1.15);
}

.zoo-card p {
    color: red;
    padding-bottom: 5px;
}

.contact-container {
    padding: 50px 20px;
    background: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
}

.contact-container h2 {
    text-align: center;
    font-size: 32px;
    color: #0a63cd;
    margin-bottom: 30px;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.contact-form,
.contact-info {
    flex: 1;
    min-width: 300px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.contact-form button {
    margin-top: 15px;
    padding: 12px;
    background-color: #0a63cd;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.contact-info {
    margin-left: 20%;
    margin-top: 8%;
}

.contact-form button:hover {
    background-color: #094aa3;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #222;
}

.contact-info p {
    margin: 18px 0;
}

.social-icons {
    margin-top: 20px;
}

.icon {
    font-size: 24px;
    margin-right: 15px;
    text-decoration: none;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.2);
}

.telegram {
    color: #0088cc;
}

.instagram {
    color: #e4405f;
}

.youtube {
    color: #ff0000;
}

/* media query */
@media screen and (max-width: 700px) {
    .toggle {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .container2 .text {
        text-align: center;
        margin-top: 40px;
    }

    .temple-list,
    .park-list,
    .beach-list,
    .garden-list,
    .hill-list,
    .zoo-list,
    .waterfall-list,
    .theater-list,
    .mall-list {
        justify-content: center;
    }

    .temple-card,
    .park-card,
    .beach-card,
    .garden-card,
    .hill-card,
    .mall-card,
    .theater-card,
    .waterfall-card,
    .zoo-card {
        flex-basis: 38%;
        margin-right: 20%;
    }

    .places a {
        margin-left: 25%;
    }

    .popup1 {
        width: 50%;
    }

}

@media screen and (max-width: 1100px) {

    .temple-card,
    .park-card,
    .beach-card,
    .theater-card,
    .waterfall-card,
    .mall-card,
    .garden-card,
    .hill-card,
    .zoo-card {
        margin-left: 130px; }

    .popup1 {
        width: 80%;
    }

    .container2 .text {
        position: absolute;
        top: 20%;
        width: 55%;
        left: 2%;
    }

    .places {
        margin-left: 15%;
    }
}

/* 900 */
@media screen and (max-width: 900px) {

    .temple-card,
    .park-card,
    .beach-card,
    .theater-card,
    .waterfall-card,
    .mall-card,
    .garden-card,
    .hill-card,
    .zoo-card {
        margin-left: 80px;
    }

    .popup1 {
        width: 80%;
    }

    .container2 .text {
        position: absolute;
        top: 20%;
        width: 55%;
        left: 2%;
    }

    .places {
        margin-left: 20px;
    }
}

/* 800 */
@media screen and (max-width: 800px) {

    .temple-card,
    .park-card,
    .beach-card,
    .theater-card,
    .waterfall-card,
    .mall-card,
    .garden-card,
    .hill-card,
    .zoo-card {
        margin-left: 80px;
        flex-basis: 20%;
    }


    .popup1 {
        width: 80%;
    }

    .container2 .text {
        position: absolute;
        top: 30%;
        width: 55%;
        left: 2%;
    }

    .places {
        margin-left: 0px;
    }
}

/* 600px */
@media screen and (max-width: 600px) {

    .temple-card,
    .park-card,
    .beach-card,
    .theater-card,
    .waterfall-card,
    .mall-card,
    .garden-card,
    .hill-card,
    .zoo-card {
        margin-left: 100px;
    }

    .popup1 {
        width: 70%;
    }
}

/* 500px */
@media screen and (max-width: 500px) {

    .temple-card,
    .park-card,
    .beach-card,
    .theater-card,
    .waterfall-card,
    .mall-card,
    .garden-card,
    .hill-card,
    .zoo-card {
        margin-left: 80px;
    }

    .popup1 {
        width: 80%;
    }

    .container2 .text {
        position: absolute;
        top: 20%;
        width: 65%;
        left: 0px;
    }

    .places {
        margin-left: -40px;
    }
}

/* 400px */
@media screen and (max-width: 400px) {

    .temple-card,
    .park-card,
    .beach-card,
    .theater-card,
    .waterfall-card,
    .mall-card,
    .garden-card,
    .hill-card,
    .zoo-card {
        margin-left: 50px;
    }

    .popup1 {
        width: 85%;
    }

    .place-image img {
        margin-left: 40px;
    }

    .place-image p {
        margin-left: 30px;
    }

    .container2 .text {
        position: absolute;
        top: 25%;
        width: 65%;
        left: 0px;
    }

    .places {
        margin-left: 20px;
        width: 20px;
    }
}

/* 300px */
@media screen and (max-width: 300px) {

    .temple-card,
    .park-card,
    .beach-card,
    .theater-card,
    .waterfall-card,
    .mall-card,
    .garden-card,
    .hill-card,
    .zoo-card {
        margin-left: 20px;
    }

    .popup1 {
        width: 90%;
    }

    .place-image img {
        margin-left: 20px;
        width: 90%;
    }

    .place-image p {
        margin-left: 10px;
        font-size: 12px;
    }

    .container2 .text {
        margin-left: 0;
        padding: 0 5px;
        font-size: 14px;
    }
}
